<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2008, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<%--
*****
This object snippet displays a catalog entry on the different places across the site.
Depending on your input parameters different information is shown.
Users may specify display parameters to limit what is shown (see optional parameters) and much more.

Parameters required:
	catalogEntry: 	This is the catalogy entry that will be displayed. It should be a variable representing
									a "com.ibm.commerce.catalog.beans.CatalogEntryDataBean".

Optional display parameters:
	pageView:						Shows the catalog entry information in some pattern. It mainly defines how the catalog entry is shown. 
											Possible values are 'image','detailed', 'sidebar', 'imageForCompare' and 'imageOnly'. Defaults to 'imageOnly'.
	useClickInfoURL:		If set to true, will use the variable 'ClickInfoURL' for the thumbnail image and name link.
	ClickInfoURL:				If 'useClickInfoURL' is set to true, this will be used as the link for the image and name links.
	catEntryIdentifier:	Is a unique identifier to differentiate the current catalog entry with respect to other ones 
											that may be displayed on the same page.
	includeRemoveFromWishList: Is set to true if we need Remove link in Wish List pages. The value is 'true' in wishList page and sharedWishList Page and 
							'false' in myAccountCentralLinkDisplay. 
	
*****
--%>
<!-- BEGIN CatalogEntryDBThumbnailDisplay.jspf-->


<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>
<%@ include file="../../include/BrazilCommonESpots.jspf" %>
<c:set var="search" value='"'/>
<c:set var="replaceStr" value="'"/>
<c:set var="search01" value="'"/>
<c:set var="replaceStr01" value="\\'"/>
<c:set var="replaceCmprStr" value=""/>

<c:set var="showProductQuickView" value="false"/>

<flow:ifEnabled feature="ProductQuickView">   
	<c:set var="showProductQuickView" value="true"/>
</flow:ifEnabled>

<c:set var="miniShopCartEnabled" value="false"/>
<flow:ifEnabled feature="miniShopCart">
	<c:set var="miniShopCartEnabled" value="true"/>
</flow:ifEnabled>

<c:set var="compareEnabled" value="false"/>
<flow:ifEnabled feature="ProductCompare">
	<c:set var="compareEnabled" value="true"/>
</flow:ifEnabled>

<c:set var="addProductDnD" value="false"/>
<flow:ifEnabled feature="ProductDnD">
	<c:if test="${miniShopCartEnabled || compareEnabled}">
		<c:set var="addProductDnD" value="true"/>
	</c:if>
</flow:ifEnabled>

<flow:ifEnabled feature="ShowProductInNewWindow">
	<c:set var="ShowProductInNewWindow" value="target=\"_blank\"" />
</flow:ifEnabled>


<%--
  ***
  * Host name of the URL that is used to point to the shared image directory.  Use this variable to reference images.
  ***
--%>
<c:set value="${pageContext.request.scheme}://${pageContext.request.serverName}" var="hostPath" />

<c:set var="catalogEntryID" value="${catEntry.catalogEntryID}"/>
<c:set var="catEntryIDToUse" value="${catEntry.catalogEntryID}"/>

<c:set var="buyable" value="true"/>

<c:choose>
	<c:when test="${catEntry.product}">
		<c:set var="catalogEntry" value="${catEntry.productDataBean}"/>
	</c:when>
	<c:when test="${catEntry.item}">
		<c:set var="catalogEntry" value="${catEntry.itemDataBean}"/>
	</c:when>
	<c:when test="${catEntry.package}">
		<c:set var="catalogEntry" value="${catEntry.packageDataBean}"/>
	</c:when>
	<c:when test="${catEntry.bundle}">
		<c:set var="catalogEntry" value="${catEntry.bundleDataBean}"/>
	</c:when>
	<c:when test="${catEntry.dynamicKit}">
		<c:set var="catalogEntry" value="${catEntry.dynamicKitDataBean}"/>
	</c:when>
</c:choose>

<flow:ifEnabled feature="SOAWishlist">
	<wcf:url var="wishListDeleteURL" value="GiftListServiceUpdateItem" type="Ajax">
		<wcf:param name="giftListItemId" value="${soaListItem.giftListItemID}" />
		<wcf:param name="storeId" value="${WCParam.storeId}" />
		<wcf:param name="catalogId" value="${WCParam.catalogId}" />
		<wcf:param name="langId" value="${langId}" />
		<wcf:param name="quantity" value="0" />
		<wcf:param name="giftListId" value="${wishListIdentifier}" />
		<wcf:param name="pageView" value="${pageView}" />
		<c:if test="${sharedWishList}">
			<wcf:param name="URL" value="InterestItemDisplay" />
			<wcf:param name="errorViewName" value="InterestItemDisplay"/>
		</c:if>
		<flow:ifEnabled feature="AjaxMyAccountPage">
			<wcf:param name="URL" value="AjaxAccountWishListDisplayView" />
			<wcf:param name="errorViewName" value="AjaxAccountWishListDisplayView"/>
		</flow:ifEnabled>
		<flow:ifDisabled feature="AjaxMyAccountPage">
			<wcf:param name="URL" value="NonAjaxAccountWishListDisplayView" />
			<wcf:param name="errorViewName" value="NonAjaxAccountWishListDisplayView"/>
		</flow:ifDisabled>
	</wcf:url>
</flow:ifEnabled>
	
<c:if test="${(pageView == 'image') || (pageView == 'detailed') || (pageView == 'sidebar') || (pageView == 'imageForCompare')}">
	<%--
	  ***
	  * Price variables.
	  ***
	--%>
	<c:set var="minimumPrice" value=""/>
	<c:set var="maximumPrice" value=""/>
	<c:set var="emptyPriceString" value=""/>
	<c:set var="priceString" value=""/>

	<%--
	***
	Using the catalogEntry variable to access common methods on the bean to avoid code duplication
	for the 4 different types of catalog entries we can display in the store.
	***
	--%>
	<c:choose>
		<c:when test="${catEntry.product}">
					<c:set var="catalogEntryDB" value="${catEntry.productDataBean}"/>
					<c:set var="type" value="product" />
					<c:set var="dragType" value="product" />
					<%-- set dragType to item if there is only 1 item for this product and there are no defining attributes
				     otherwise it has a dragType of product (indicating it is a product with attributes) --%>
					<c:if test="${empty catalogEntry.entitledItems[1] && !empty catalogEntry.entitledItems[0].partNumber }">					
						<wcf:getData type="com.ibm.commerce.catalog.facade.datatypes.CatalogEntryType" var="catEntryAttr" expressionBuilder="getStoreCatalogEntryAttributesByID">
							<wcf:contextData name="storeId" data="${param.storeId}"/>
							<wcf:param name="catEntryId" value="${catEntry.productDataBean.productID}"/>
							<wcf:param name="dataLanguageIds" value="${WCParam.langId}"/>
			 			</wcf:getData>
			 			<c:set var="noAttributes" value="true" />
			 			<c:forEach var="attribute" items="${catEntryAttr.catalogEntryAttributes.attributes}">
							<c:if test="${attribute.usage == 'Defining'}">
								<c:set var="noAttributes" value="false" />
							</c:if>
						</c:forEach>
						<c:if test="${ noAttributes }">
							<c:set var="dragType" value="item" />
						</c:if>						
					</c:if>
					<c:if test="${empty catalogEntryDB.entitledItems[0] || catalogEntryDB.buyable eq '0'}" >
						<c:set var="buyable" value="false"/>
					</c:if>
					
					<c:choose>
						<c:when test="${fn:length(catalogEntryDB.entitledItems) == 1}">
							<c:set var="singleSKU" value="true"/>
							<c:set var="catEntryIDToUse" value="${catalogEntryDB.entitledItems[0].itemID}"/>
						</c:when>
						<c:otherwise>
							<c:set var="singleSKU" value="false"/>
						</c:otherwise>
					</c:choose>
					<c:set var="minimumPrice" value="${catalogEntryDB.minimumItemPrice}"/>
					<c:set var="maximumPrice" value="${catalogEntryDB.maximumItemPrice}"/>
		</c:when>
		<c:when test="${catEntry.item}">
					<c:set var="catalogEntryDB" value="${catEntry.itemDataBean}"/>
					<c:set var="type" value="item" />
					<c:set var="dragType" value="item" />
					<c:if test="${catalogEntryDB.buyable eq '0'}" >
						<c:set var="buyable" value="false"/>
					</c:if>
		</c:when>
		<c:when test="${catEntry.package}">
					<c:set var="catalogEntryDB" value="${catEntry.packageDataBean}"/>
					<c:set var="type" value="package" />
					<c:set var="dragType" value="package" />
					<c:if test="${!catalogEntryDB.calculatedContractPriced || catalogEntryDB.buyable eq '0'}" >
						<c:set var="buyable" value="false"/>
					</c:if>
		</c:when>
		<c:when test="${catEntry.bundle}">
					<c:set var="catalogEntryDB" value="${catEntry.bundleDataBean}"/>
					<c:set var="type" value="bundle" />
					<c:set var="dragType" value="bundle" />
					<c:if test="${catalogEntryDB.buyable eq '0'}" >
						<c:set var="buyable" value="false"/>
					</c:if>
					<c:set var="minimumPrice" value="${catalogEntryDB.minimumBundlePrice}"/>
					<c:set var="maximumPrice" value="${catalogEntryDB.maximumBundlePrice}"/>
		</c:when>
		
		<c:when test="${catEntry.dynamicKit}">
			<c:set var="type" value="dynamicKit" />
		</c:when>
		
		
	</c:choose>
	
	<c:choose>
		<%--
		***
		*	If there is no calculated contract price, then get a message 
		*   indicating there is no available price. This rule applies to
		*	any type of a catalog entry.
		*
		--%>
		<c:when test="${ empty minimumPrice && !catalogEntryDB.calculatedContractPriced}">
			<fmt:message var="emptyPriceString" key="NO_PRICE_AVAILABLE" bundle="${storeText}"/>
		</c:when>
		
		<%-- 
		***
		*	If there is a price range, then make the range as the price to 
		*	be displayed. We do not need to test if maximum price is empty,
		*   because as long as minimum price is not empty, nor will be 
		*   the maximum price. 
		***
		--%>
		<c:when test="${!empty minimumPrice && !empty maximumPrice && (minimumPrice.amount != maximumPrice.amount) && fn:indexOf(maximumPrice.amount, minimumPrice.amount)==-1 && fn:indexOf(minimumPrice.amount, maximumPrice.amount)==-1}">
			<c:set var="priceString" value="${minimumPrice} - ${maximumPrice}"/>
		</c:when>
		
		<%-- 
		***	If there is no price range, then the offer price will be displayed, 
		*   and the offer price is the catalog entry's calculated contract
		*   price. This applies to any type of a catalog entry.
		***
		--%>
		<c:otherwise>
			<c:choose>
				<c:when  test="${type eq 'product' || type eq 'bundle'}">
					<c:set var="offerPrice" value="${minimumPrice}"/>
				</c:when>
				<c:otherwise>
					<c:set var="offerPrice" value="${catalogEntryDB.calculatedContractPrice}"/>
				</c:otherwise>
			</c:choose>
		</c:otherwise>
	</c:choose>
	
	<c:choose>
			  <%-- If the price is unavailable, print out the corresponding message --%>
				<c:when test="${!empty emptyPriceString}">
						<c:set var="displayPriceString" value="${emptyPriceString}"/>
				</c:when>
				
				<%-- If the price string has been set, then we simply print it out. --%>
				<c:when test="${!empty priceString}">
					<fmt:message key="DisplayPriceIs" var="displayPriceString" bundle="${storeText}">
						<fmt:formatNumber var="priceStringLocalized_min" value="${minimumPrice.amount}" type="currency" currencySymbol="${CurrencySymbolToFormat}" maxFractionDigits="${currencyDecimal}"/>
						<fmt:formatNumber var="priceStringLocalized_max" value="${maximumPrice.amount}" type="currency" currencySymbol="${CurrencySymbolToFormat}" maxFractionDigits="${currencyDecimal}"/>
						<fmt:param value="${priceStringLocalized_min}${CurrencySymbol} - ${priceStringLocalized_max}${CurrencySymbol}"/>
					</fmt:message>
				</c:when>
				
				<c:otherwise>
					<fmt:message key="DisplayPriceIs" var="displayPriceString" bundle="${storeText}">
						<fmt:formatNumber var="priceStringLocalized" value="${offerPrice.amount}" type="currency" currencySymbol="${CurrencySymbolToFormat}" maxFractionDigits="${currencyDecimal}"/>					
						<fmt:param value="${priceStringLocalized}${CurrencySymbol}"/>
					</fmt:message>
				</c:otherwise>
	</c:choose>
	<c:remove var="minimumPrice"/>
	<c:remove var="maximumPrice"/>
	<c:remove var="emptyPriceString"/>
	<c:remove var="priceString"/>

</c:if>

<c:choose>
	<c:when test="${empty useClickInfoURL || useClickInfoURL == false}">
		<%-- The URL that links to the display page --%>
		<wcf:url var="catEntryDisplayUrl" value="Product2">
		    <wcf:param name="catalogId" value="${WCParam.catalogId}"/>
		    <wcf:param name="storeId" value="${WCParam.storeId}"/>
		    <wcf:param name="productId" value="${catEntry.catalogEntryID}"/>
		    <wcf:param name="langId" value="${langId}"/>
		    <wcf:param name="errorViewName" value="ProductDisplayErrorView"/>
			<wcf:param name="categoryId" value="${WCParam.categoryId}" />
			<c:choose>
				<%-- Use the context parameters if they are available; usually in a subcategory --%>			
				<c:when test="${!empty WCParam.parent_category_rn && !empty WCParam.top_category}">
					<wcf:param name="parent_category_rn" value="${WCParam.parent_category_rn}" />
					<wcf:param name="top_category" value="${WCParam.top_category}" />
				</c:when>
				<%-- In a top category; use top category parameters --%>
				<c:when test="${WCParam.top == 'Y'}">
					<wcf:param name="parent_category_rn" value="${WCParam.categoryId}" />
					<wcf:param name="top_category" value="${WCParam.categoryId}" />
				</c:when>
				<%-- Store front main page; usually eSpots, parents unknown --%>
				<c:otherwise>
					<wcf:param name="parent_category_rn" value="" />
					<wcf:param name="top_category" value="" />
				</c:otherwise>
			</c:choose>
		</wcf:url>
	</c:when>
	<c:otherwise>
		<c:set var="catEntryDisplayUrl" value="${ClickInfoURL}"/>
	</c:otherwise>
</c:choose>

<flow:ifDisabled feature="AjaxAddToCart">
	<c:if test="${add2CartForm != 'false'}">
		<form name="OrderItemAddForm_<c:out value='${catEntryIDToUse}'/>" action="OrderChangeServiceItemAdd" method="post" id="OrderItemAddForm_<c:out value='${catEntryIDToUse}'/>">
			<input type="hidden" name="storeId" value="<c:out value='${WCParam.storeId}'/>" id="OrderItemAddForm_storeId_<c:out value='${catalogEntryID}'/>"/>
			<input type="hidden" name="orderId" value="." id="OrderItemAddForm_orderId_<c:out value='${catalogEntryID}'/>"/>
			<input type="hidden" name="catalogId" value="<c:out value='${WCParam.catalogId}'/>" id="OrderItemAddForm_catalogId_<c:out value='${catalogEntryID}'/>"/>
			<input type="hidden" name="URL" value="AjaxOrderItemDisplayView?storeId=${WCParam.storeId}&catalogId=${WCParam.catalogId}&langId=${WCParam.langId}" id="OrderItemAddForm_url_<c:out value='${catalogEntryID}'/>"/>
			<input type="hidden" name="errorViewName" value="InvalidInputErrorView" id="OrderItemAddForm_errorViewName_<c:out value='${catalogEntryID}'/>"/>
			<input type="hidden" name="catEntryId" value="<c:out value='${catEntryIDToUse}'/>" id="OrderItemAddForm_catEntryId_<c:out value='${catalogEntryID}'/>"/>
			<input type="hidden" name="productId" value="<c:out value='${catEntryIDToUse}'/>" id="OrderItemAddForm_productId_<c:out value='${catalogEntryID}'/>"/>
			<input type="hidden" value="" name="quantity" id="OrderItemAddForm_quantity_<c:out value='${catalogEntryID}'/>"/>
			<input type="hidden" value="" name="page" id="OrderItemAddForm_page_${catalogEntryID}"/>
			<input type="hidden" name="calculationUsage" value="-1,-2,-3,-4,-5,-6,-7" id="OrderItemAddForm_calcUsage_${catalogEntryID}"/>
			<input type="hidden" name="updateable" value="0" id="OrderItemAddForm_updateable_${catalogEntryID}"/>
			<input type="hidden" name="listId" value="." id="OrderItemAddForm_wishlistId_${catalogEntryID}"/>
			<flow:ifEnabled feature="SOAWishlist">
			<input type="hidden" name="giftListId" value="<c:out value='${giftListId}'/>" id="<c:out value='OrderItemAddForm_(())${catEntryIDToUse}_giftListId_${giftListId}'/>"/>
			</flow:ifEnabled>			
		</form>
	</c:if>
</flow:ifDisabled>
<c:choose>
	<c:when test="${pageView == 'image'}">
		
			<div id="baseContent_<c:out value='${prefix}'/>_<c:out value='${catEntryIdentifier}'/>" 
				<c:if test="${showProductQuickView eq 'true'}">
					onmouseover="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" onmouseout="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
				</c:if>
				>
				<div class="img" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_1">
					<c:if test="${addProductDnD eq 'true'}">
					
						<c:set var="dragTypeToUse" value="${dragType}"/>
						<c:if test="${singleSKU == true && dragType == 'product'}">
							<c:set var="dragTypeToUse" value="item"/>
						</c:if>
							
						<div dojoType="dojo.dnd.Source" jsId="dndSource" id="<c:out value='${prefix}_${catEntryIDToUse}'/>" copyOnly="true" dndType="<c:out value='${dragTypeToUse}'/>">
							<div class="dojoDndItem" dndType="<c:out value='${dragType}'/>" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_2">
					</c:if>
								<c:choose>
									<c:when test="${!empty catalogEntry.description.thumbNail}">
										<a ${ShowProductInNewWindow} href="<c:out value="${catEntryDisplayUrl}" escapeXml="false"/>" id="img<c:out value="${catEntryIdentifier}"/>" class="itemhover"
										<c:if test="${showProductQuickView eq 'true'}">
											onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
											onkeydown="shiftTabHidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>',event);"
										</c:if>
										onmouseout="javascript:hideBackgroundImage(this);" onmouseover="javascript:showBackgroundImage(this);"
										>
											<c:if test="${addProductDnD eq 'true'}">
												<!--[if lte IE 6.5]><iframe class="productDnDIFrame" scrolling="no" frameborder="0" src="<c:out value="${jspStoreImgDir}" />images/empty.gif"></iframe><![endif]-->
											</c:if>
											<img src="<c:out value='${catalogEntry.objectPath}${catalogEntry.description.thumbNail}'/>" 
													alt="<c:out value='${fn:replace(catalogEntry.description.name, search, replaceStr)} ${displayPriceString}' escapeXml='false'/>" 
													border="0" width="70" height="70"/>
										</a>
									</c:when>
									<c:otherwise>
										<a ${ShowProductInNewWindow} href="<c:out value="${catEntryDisplayUrl}" escapeXml="false"/>" id="img<c:out value="${catEntryIdentifier}"/>" class="itemhover"
										<c:if test="${showProductQuickView eq 'true'}">
											onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
											onkeydown="shiftTabHidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>',event);"
										</c:if>
										onmouseout="javascript:hideBackgroundImage(this);" onmouseover="javascript:showBackgroundImage(this);"
										>
											<c:if test="${addProductDnD eq 'true'}">
												<!--[if lte IE 6.5]><iframe class="productDnDIFrame" scrolling="no" frameborder="0" src="<c:out value="${jspStoreImgDir}" />images/empty.gif"></iframe><![endif]-->
											</c:if>
											<img src="<c:out value='${jspStoreImgDir}' />images/NoImageIcon_sm.jpg" 
													alt="<c:out value='${fn:replace(catalogEntry.description.name, search, replaceStr)} ${displayPriceString}' escapeXml='false'/>" 
													border="0" width="70" height="70"/>
										</a>
									</c:otherwise>
								</c:choose>
					<c:if test="${addProductDnD eq 'true'}">
							</div>
						</div>
						<script type="text/javascript">
						dojo.addOnLoad(function() { 
							var widgetText = "<c:out value="${prefix}_${catEntryIDToUse}"/>";
							parseWidget(widgetText);
						});
						</script>
					</c:if>
				</div>
				<c:if test="${showProductQuickView eq 'true'}">
					<c:choose>
						<c:when test="${myAccountPage || sharedWishList}">
							<c:choose>
								<c:when test="${contentAreaESpot}">
									<div id="<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>" class="main_quickinfo_button">
										<span class="secondary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_3">
											<span class="button_container">
												<span class="button_bg">
													<span class="button_top">
														<span class="button_bottom">   
															<a  id="<c:out value='QuickInfoButton_${prefix}_${catEntryIdentifier}'/>" href="#"
																onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
																onclick="javaScript:var actionListImageAcct = new popupActionProperties(); actionListImageAcct.showProductCompare=false; actionListImageAcct.showWishList=<c:out value='${buyable}'/>; actionListImageAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListImageAcct); return false;"  
																onkeypress="javaScript:var actionListImageAcct = new popupActionProperties(); actionListImageAcct.showProductCompare=false; actionListImageAcct.showWishList=<c:out value='${buyable}'/>; actionListImageAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListImageAcct);" onblur="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" role="wairole:button" waistate:haspopup="true"><fmt:message key="QUICKINFO" bundle="${storeText}"/></a>
														</span>
													</span>	
												</span>
											</span>
										</span>	
									</div>
								</c:when>
								<c:otherwise>
									<div id="<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>" class="main_quickinfo_button">
										<span class="secondary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_5">
											<span class="button_container">
												<span class="button_bg">
													<span class="button_top">
														<span class="button_bottom">   
															<a  id="<c:out value='QuickInfoButton_${prefix}_${catEntryIdentifier}'/>" href="#"
																onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
																onclick="javaScript:var actionListImageAcct = new popupActionProperties(); actionListImageAcct.showProductCompare=false; actionListImageAcct.showWishList=false; actionListImageAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListImageAcct); return false;"  
																onkeypress="javaScript:var actionListImageAcct = new popupActionProperties(); actionListImageAcct.showProductCompare=false; actionListImageAcct.showWishList=false; actionListImageAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListImageAcct);" onblur="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" role="wairole:button" waistate:haspopup="true"><fmt:message key="QUICKINFO" bundle="${storeText}"/></a>
														</span>
													</span>	
												</span>
											</span>
										</span>	
									</div>		
								</c:otherwise>
							</c:choose>						
						</c:when>						
						<c:otherwise>
							<div id="<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>" class="main_quickinfo_button">
										<span class="secondary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_7">
											<span class="button_container">
												<span class="button_bg">
													<span class="button_top">
														<span class="button_bottom">   
															<a  id="<c:out value='QuickInfoButton_${prefix}_${catEntryIdentifier}'/>" href="#"
																onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
																onclick="javaScript:var actionListImageAcct = new popupActionProperties(); actionListImageAcct.showWishList=<c:out value='${buyable}'/>; actionListImageAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListImageAcct); return false;" onkeypress="javaScript:var actionListImageAcct = new popupActionProperties(); actionListImageAcct.showWishList=<c:out value='${buyable}'/>; actionListImageAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListImageAcct);" onblur="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" role="wairole:button" waistate:haspopup="true"><fmt:message key="QUICKINFO" bundle="${storeText}"/></a>
														</span>
													</span>	
												</span>
											</span>
										</span>	
							</div>
						</c:otherwise>
					</c:choose>									
				</c:if>
			</div>
				
			<div class="description" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_9b">
				
				<a ${ShowProductInNewWindow} href="<c:out value="${catEntryDisplayUrl}" escapeXml="false"/>" >
					<c:out value="${catalogEntry.description.name}" escapeXml="false"/>
				</a>
			</div>
			<c:choose>
				<c:when test="${isBrazilStore}">
					<%-- begin: use the brazil store price/espot container div --%>
					<c:choose> 
						<%-- Brazil store promotions does not handle Multiple SKU's at this time, that is,
						     promotions at the parent level. Therefore, we'll default to the first item(1st child) of the multiple sku list to 
						     see the promotions  --%>
						<c:when test="${!empty singleSKU && singleSKU == 'false'}">
							<c:set var="currentProductId" value="${catalogEntryDB.entitledItems[0].itemID}" />
						</c:when>
						<c:otherwise>
						<%-- Normal single SKU product  --%>
							<c:set var="currentProductId" value="${catEntryIdentifier}" />
						</c:otherwise>
					</c:choose>
					<div class="brazil_price_espot_container">
						<div class="price brazil_price_container" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_10">
							<%@ include file="CatalogEntryPriceDisplay.jspf" %>
							<%--
							***
							*     Display the promotions of Brazil Store
							***
							--%>
			 				<%-- Show installment promotion if nonInstallment promotion not showing --%>
				        	<c:if test="${empty nonInstallmentDiscountMap}">
								<div class="promo_price" id="WC_CatalogEntryThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_eSpot_div_2">
									<% out.flush(); %>
			    	                <c:import url="${jspStoreDir}Snippets/Marketing/ESpot/ESpotNavDisplay.jsp">
			        	                       <c:param name="storeId" value="${WCParam.storeId}" />
			            	                   <c:param name="catalogId" value="${catalogId}" />
			                	               <c:param name="langId" value="${langId}" />
			                    	           <c:param name="emsName" value="${eSpotPaymentPromotion}" />
			                    	           <c:param name="currentProductId" value="${currentProductId}" />
			                        	       <c:param name="adclass" value="no_ad" />
			                            	   <c:param name="showPaymentDiscountPromotion" value="true" />
									</c:import> 
									<% out.flush(); %> 
								</div>
			        		</c:if>
						    <%--clean up, no longer need nonInstallmentDiscountMap, prepare for next featured item --%>
						    <c:if test='${!empty nonInstallmentDiscountMap}'>
						    	<c:remove var="nonInstallmentDiscountMap" /> 
						    </c:if>
			        		
						</div>
						<%-- end of brazil store price container div --%>
						<%-- Show Free Shipping Promotion --%> 
						<div id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_eSpot_div_1">
							<%-- Flush the buffer so this fragment JSP is not cached twice --%>
							<%out.flush();%>
							
			                <c:import url="${jspStoreDir}Snippets/Marketing/ESpot/ESpotNavDisplay.jsp">
			                        <c:param name="storeId" value="${WCParam.storeId}" />
			                        <c:param name="catalogId" value="${catalogId}" />
			                        <c:param name="langId" value="${langId}" />
			                        <c:param name="emsName" value="${eSpotFreeShipping}" />
			                        <c:param name="currentProductId" value="${currentProductId}" />
			                        <c:param name="adclass" value="no_ad" />
							</c:import> 
							<%out.flush();%>
						</div>
					</div>
					<c:remove var="currentProductId" /> <%--remove, no longer needed --%>
					<%-- end of brazil store price/espot container div --%>
				</c:when>
				<c:otherwise>
					<div class="price" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_10">
						<%@ include file="CatalogEntryPriceDisplay.jspf" %>
					</div>
				</c:otherwise>
			</c:choose>
			<div class="button" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_11">
				<c:choose>
					<c:when test="${wishListPage  || sharedWishList}">
						<wcf:url var="interestItemDeleteURL" value="InterestItemDelete" type="Ajax">
							<wcf:param name="catEntryId" value="${interestItem2.catalogEntryDataBean.catalogEntryID}" />
							<wcf:param name="storeId" value="${WCParam.storeId}" />
							<wcf:param name="catalogId" value="${WCParam.catalogId}" />
							<wcf:param name="langId" value="${langId}" />
							<wcf:param name="listId" value="." />
							<c:if test="${sharedWishList}">
								<wcf:param name="URL" value="InterestItemDisplay" />
								<wcf:param name="errorViewName" value="InterestItemDisplay"/>
							</c:if>
							<flow:ifEnabled feature="AjaxMyAccountPage">
								<wcf:param name="URL" value="AjaxAccountWishListDisplayView" />
								<wcf:param name="errorViewName" value="AjaxAccountWishListDisplayView"/>
							</flow:ifEnabled>
							<flow:ifDisabled feature="AjaxMyAccountPage">
								<wcf:param name="URL" value="NonAjaxAccountWishListDisplayView" />
								<wcf:param name="errorViewName" value="NonAjaxAccountWishListDisplayView"/>
							</flow:ifDisabled>
						</wcf:url>
						
						<c:choose>
							<c:when test="${buyable}" >
								<div class="multiple_buttons"  id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_add_div_1">
								<flow:ifEnabled feature="AjaxAddToCart"> 
									<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_add_span_1">
										<span class="button_container">
											<span class="button_bg">
												<span class="button_top">
													<span class="button_bottom">   
														<flow:ifEnabled feature="wishList">	
															<a href="javascript: setCurrentId('<c:out value='WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_links_1'/>'); categoryDisplayJS.AddItem2ShopCartAjax('<c:out value='${interestItem2.catalogEntryDataBean.catalogEntryID}'/>',1)"  id="<c:out value='WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_links_1'/>" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
														</flow:ifEnabled>		
														<flow:ifEnabled feature="SOAWishlist">	
															<a href="javascript: setCurrentId('<c:out value='WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_links_1'/>'); categoryDisplayJS.AddItem2ShopCartAjax('<c:out value='${soaListItem.catalogEntryIdentifier.uniqueID}'/>',1)"  id="<c:out value='WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_links_1'/>" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
														</flow:ifEnabled>
													</span>
												</span>
											</span>
										</span>
									</span>		
								</flow:ifEnabled>
		
								<flow:ifDisabled feature="AjaxAddToCart">
									<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_add_span_2">
										<span class="button_container">
											<span class="button_bg">
												<span class="button_top">
													<span class="button_bottom">   
														<flow:ifEnabled feature="wishList">	
															<a href="#" onclick="javascript: categoryDisplayJS.AddItem2ShopCart(document.getElementById('<c:out value='OrderItemAddForm_${interestItem2.catalogEntryDataBean.catalogEntryID}'/>'),1);return false;"  id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_2" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
														</flow:ifEnabled>		
														<flow:ifEnabled feature="SOAWishlist">	
															<a href="#" onclick="javascript: categoryDisplayJS.AddItem2ShopCart(document.getElementById('<c:out value='OrderItemAddForm_${soaListItem.catalogEntryIdentifier.uniqueID}'/>'),1);return false;"  id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_2" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
														</flow:ifEnabled>
													</span>
												</span>
											</span>
										</span>
									</span>
								</flow:ifDisabled>
								</div>
							</c:when>
							<c:otherwise>
								<fmt:message key="SKU_NOT_BUYABLE" bundle="${storeText}" />
							</c:otherwise>
						</c:choose>
						<c:if test="${!sharedWishList}">
							<div class="multiple_buttons" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_remove_div_1">
							<c:if test="${includeRemoveFromWishList eq 'true'}">
								<flow:ifDisabled feature="AjaxMyAccountPage">
									<div class="deleteLink">
									<flow:ifEnabled feature="wishList">	
										<a class="bopis_link" href="#" onclick="Javascript:setPageLocation('<c:out value='${interestItemDeleteURL}'/>');return false;"  id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_3"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}" /></a>
									</flow:ifEnabled>
									<flow:ifEnabled feature="SOAWishlist">	
										<a class="bopis_link" href="#" onclick="Javascript:setPageLocation('<c:out value='${wishListDeleteURL}'/>');return false;"  id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_3"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}" /></a>
									</flow:ifEnabled>
									</div>
								</flow:ifDisabled>
								<flow:ifEnabled feature="AjaxMyAccountPage">
									<c:choose>
										<c:when test="${sharedWishList}">
											<div class="deleteLink"><a class="bopis_link" href="<c:out value="${interestItemDeleteURL}"/>" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_3"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}" /></a></div>											
										</c:when>
										<c:otherwise>
											<flow:ifEnabled feature="wishList">	
												<div class="deleteLink"><a class="bopis_link" href="javaScript:AccountWishListDisplay.deleteInterestItem({catEntryId:'<c:out value='${interestItem2.catalogEntryDataBean.catalogEntryID}'/>',storeId:'<c:out value='${WCParam.storeId}'/>', catalogId:'<c:out value='${WCParam.catalogId}'/>', langId:'<c:out value='${langId}'/>'},'<c:out value='${WishListResultDisplay}'/>')" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_4"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}" /></a></div>
											</flow:ifEnabled>		
											<flow:ifEnabled feature="SOAWishlist">	
												<div class="deleteLink"><a class="bopis_link" href="javaScript:MultipleWishLists.removeItem('<c:out value='${soaListItem.giftListItemID}'/>')" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_4"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}" /></a></div>
											</flow:ifEnabled>
										</c:otherwise>
									</c:choose>
								</flow:ifEnabled>
							</c:if>
							</div>
						</c:if>
					</c:when>
					<c:otherwise>
						<c:choose>
							<c:when test="${buyable}" >
								<flow:ifDisabled feature="HidePurchaseButton"> 
									<flow:ifEnabled feature="AjaxAddToCart"> 
										<div id="add2CartPopupButton_<c:out value='${catEntry.catalogEntryID}'/>">
											<c:choose>
												<c:when test="${dragType == 'item' || dragType == 'package' || (singleSKU == true && dragType == 'product')}">
												<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_12">
													<span class="button_container">
														<span class="button_bg">
															<span class="button_top">
																<span class="button_bottom">   
																	<a href="javascript: setCurrentId('WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_11'); categoryDisplayJS.AddItem2ShopCartAjax('<c:out value='${catEntryIDToUse}'/>',1)" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_11" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
																</span>
															</span>
														</span>
													</span>
												</span>		
												</c:when>
												<c:otherwise>
													<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_14">
														<span class="button_container">
															<span class="button_bg">
																<span class="button_top">
																	<span class="button_bottom">   
																		<a href="javascript:;" onkeypress="javascript: showPopup('<c:out value='${catEntryIDToUse}'/>', '<c:out value='${storeId}'/>', '<c:out value='${langId}'/>', '<c:out value='${catalogId}'/>', event, null, 'add2CartPopupButton_<c:out value='${catEntry.catalogEntryID}'/>')" onclick="javascript: showPopup('<c:out value='${catEntryIDToUse}'/>', '<c:out value='${storeId}'/>', '<c:out value='${langId}'/>', '<c:out value='${catalogId}'/>', event, null, 'add2CartPopupButton_<c:out value='${catEntry.catalogEntryID}'/>')" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_11" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
																	</span>
																</span>
															</span>
														</span>
													</span>	
												</c:otherwise>
											</c:choose>
										</div>
									</flow:ifEnabled>

									<flow:ifDisabled feature="AjaxAddToCart">
									<div id="add2CartPopupButton_<c:out value='${catEntry.catalogEntryID}'/>">
										<c:choose>
											<c:when test="${dragType == 'item' || dragType == 'package' || (singleSKU == true && dragType == 'product')}">
												<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_16">
													<span class="button_container">
														<span class="button_bg">
															<span class="button_top">
																<span class="button_bottom">   
																	<a  href="#" onclick="javascript: categoryDisplayJS.AddItem2ShopCart(document.getElementById('OrderItemAddForm_<c:out value='${catEntryIDToUse}'/>'),1);return false;" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_11" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
																</span>
															</span>
														</span>
													</span>
												</span>	
											</c:when>
											<c:otherwise>
												<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_18">
													<span class="button_container">
														<span class="button_bg">
															<span class="button_top">
																<span class="button_bottom">   
																	<a href="javascript:;" onkeypress="javascript: showPopup('<c:out value='${catEntryIDToUse}'/>', '<c:out value='${storeId}'/>', '<c:out value='${langId}'/>', '<c:out value='${catalogId}'/>', event, null, 'add2CartPopupButton_<c:out value='${catEntry.catalogEntryID}'/>')" onclick="javascript: showPopup('<c:out value='${catEntryIDToUse}'/>', '<c:out value='${storeId}'/>', '<c:out value='${langId}'/>', '<c:out value='${catalogId}'/>', event, null, 'add2CartPopupButton_<c:out value='${catEntry.catalogEntryID}'/>')" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_11" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
																</span>
															</span>
														</span>
													</span>
												</span>	
											</c:otherwise>
										</c:choose>
									</div>
								</flow:ifDisabled>
								</flow:ifDisabled> 
							</c:when>
							<c:otherwise>
								<fmt:message key="SKU_NOT_BUYABLE" bundle="${storeText}" />
							</c:otherwise>
						</c:choose>
					</c:otherwise>
				</c:choose>
							
				
			</div>
	</c:when>
	<c:when test="${pageView == 'detailed'}">
			
				<td class="image" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_td_4">
					<div id="<c:out value='baseContent_${prefix}_${catEntryIdentifier}'/>" 
						<c:if test="${showProductQuickView eq 'true'}">
							onmouseover="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" onmouseout="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
						</c:if>
						>
						<c:if test="${addProductDnD eq 'true'}">
						
							<c:set var="dragTypeToUse" value="${dragType}"/>
							<c:if test="${singleSKU == true && dragType == 'product'}">
								<c:set var="dragTypeToUse" value="item"/>
							</c:if>
							<div dojoType="dojo.dnd.Source" jsId="dndSource" id="<c:out value='${prefix}_${catEntryIDToUse}'/>" copyOnly="true" dndType="<c:out value='${dragTypeToUse}'/>">
								<div class="dojoDndItem" dndType="<c:out value='${dragType}'/>" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_20">
						</c:if>
								<c:choose>
									<c:when test="${!empty catalogEntry.description.thumbNail}">
										<a  ${ShowProductInNewWindow} href="<c:out value="${catEntryDisplayUrl}" escapeXml="false"/>" id="img<c:out value="${catEntryIdentifier}"/>" class="itemhoverdetailed"
										<c:if test="${showProductQuickView eq 'true'}">
											onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
											onkeydown="shiftTabHidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>',event);"
										</c:if>
										onmouseout="javascript:hideBackgroundImage(this);" onmouseover="javascript:showBackgroundImage(this);"
										>
											<c:if test="${addProductDnD eq 'true'}">
												<!--[if lte IE 6.5]><iframe class="productDnDIFrame" scrolling="no" frameborder="0" src="<c:out value="${jspStoreImgDir}" />images/empty.gif"></iframe><![endif]-->
											</c:if>
											<img src="<c:out value='${catalogEntry.objectPath}${catalogEntry.description.thumbNail}'/>" 
													alt="<c:out value='${fn:replace(catalogEntry.description.name, search, replaceStr)} ${displayPriceString}' escapeXml='false'/>" 
													border="0" width="70" height="70"/>
										</a>
									</c:when>
									<c:otherwise>
										<a ${ShowProductInNewWindow} href="<c:out value="${catEntryDisplayUrl}" escapeXml="false"/>" id="img<c:out value="${catEntryIdentifier}"/>" class="itemhoverdetailed"
										<c:if test="${showProductQuickView eq 'true'}">
											onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
											onkeydown="shiftTabHidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>',event);"
										</c:if>
										onmouseout="javascript:hideBackgroundImage(this);" onmouseover="javascript:showBackgroundImage(this);"
										>
											<c:if test="${addProductDnD eq 'true'}">
												<!--[if lte IE 6.5]><iframe class="productDnDIFrame" scrolling="no" frameborder="0" src="<c:out value="${jspStoreImgDir}" />images/empty.gif"></iframe><![endif]-->
											</c:if>
										<img src="<c:out value='${jspStoreImgDir}' />images/NoImageIcon_sm.jpg" 
												alt="<c:out value='${fn:replace(catalogEntry.description.name, search, replaceStr)} ${displayPriceString}' escapeXml='false'/>" 
												border="0" width="70" height="70"/>
										</a>
									</c:otherwise>
								</c:choose>
						<c:if test="${addProductDnD eq 'true'}">
								</div>
							</div>
							<script type="text/javascript">
							dojo.addOnLoad(function() { 
								var widgetText = "<c:out value="${prefix}_${catEntryIDToUse}"/>";
								parseWidget(widgetText);
							});
							</script>
						</c:if>
						<c:if test="${showProductQuickView eq 'true'}">
							<c:choose>
								<c:when test="${myAccountPage || sharedWishList}">
									<c:choose>
										<c:when test="${contentAreaESpot}">
											<div id="<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>" class="main_quickinfo_button">
												<span class="secondary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_21">
													<span class="button_container">
														<span class="button_bg">
															<span class="button_top">
																<span class="button_bottom">   
																	<a  id="<c:out value='QuickInfoButton_${prefix}_${catEntryIdentifier}'/>" href="#"
																		onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
																		onclick="javaScript:var actionListDetailedAcct = new popupActionProperties(); actionListDetailedAcct.showProductCompare=false; actionListDetailedAcct.showWishList=<c:out value='${buyable}'/>; actionListDetailedAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListDetailedAcct); return false;" 
																		onkeypress="javaScript:var actionListDetailedAcct = new popupActionProperties(); actionListDetailedAcct.showProductCompare=false; actionListDetailedAcct.showWishList=<c:out value='${buyable}'/>; actionListDetailedAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListDetailedAcct);" onblur="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" role="wairole:button" waistate:haspopup="true"><fmt:message key="QUICKINFO" bundle="${storeText}"/></a>
																</span>
															</span>
														</span>	
													</span>
												</span>	
											</div>
										</c:when>
										<c:otherwise>
											<div id="<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>" class="main_quickinfo_button">
												<span class="secondary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_23">
													<span class="button_container">
														<span class="button_bg">
															<span class="button_top">
																<span class="button_bottom">   
																	<a  id="<c:out value='QuickInfoButton_${prefix}_${catEntryIdentifier}'/>" href="#"
																		onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
																		onclick="javaScript:var actionListDetailedAcct = new popupActionProperties(); actionListDetailedAcct.showProductCompare=false; actionListDetailedAcct.showWishList=false; actionListDetailedAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListDetailedAcct); return false;" 
																		onkeypress="javaScript:var actionListDetailedAcct = new popupActionProperties(); actionListDetailedAcct.showProductCompare=false; actionListDetailedAcct.showWishList=false; actionListDetailedAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListDetailedAcct);" onblur="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" role="wairole:button" waistate:haspopup="true"><fmt:message key="QUICKINFO" bundle="${storeText}"/></a>
																</span>
															</span>
														</span>	
													</span>
												</span>	
											</div>										
										</c:otherwise>
									</c:choose>
								</c:when>							
								<c:otherwise>
									<div id="<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>" class="main_quickinfo_button">									
												<span class="secondary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_25">
													<span class="button_container">
														<span class="button_bg">
															<span class="button_top">
																<span class="button_bottom">   
																	<a  id="<c:out value='QuickInfoButton_${prefix}_${catEntryIdentifier}'/>" href="#"
																		onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
																		onclick="javaScript:var actionListDetailedAcct = new popupActionProperties(); actionListDetailedAcct.showWishList=<c:out value='${buyable}'/>; actionListDetailedAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListDetailedAcct); return false;" 
																		onkeypress="javaScript:var actionListDetailedAcct = new popupActionProperties(); actionListDetailedAcct.showWishList=<c:out value='${buyable}'/>; actionListDetailedAcct.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListDetailedAcct);" onblur="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" role="wairole:button" waistate:haspopup="true"><fmt:message key="QUICKINFO" bundle="${storeText}"/></a>
																</span>
															</span>
														</span>	
													</span>
												</span>	
									</div>
								</c:otherwise>							
							</c:choose>
						</c:if>
					</div>
				</td>
				<td class="information" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_td_5">
					<h3><c:out value="${catalogEntry.description.name}" escapeXml="false"/></h3>
					<p><c:out value="${catalogEntry.description.shortDescription}" escapeXml="false"/></p>
				</td>
				<td class="price" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_td_6">
					<p>
						<%@ include file="CatalogEntryPriceDisplay.jspf" %>
					</p>
				</td>
				<td class="add_to_cart" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_td_7">
					<c:choose>
					<c:when test="${buyable}" >
						<flow:ifDisabled feature="HidePurchaseButton"> 
							<flow:ifEnabled feature="AjaxAddToCart"> 
								<c:choose>
									<c:when test="${dragType == 'item' || dragType == 'package' || (singleSKU == true && dragType == 'product')}">
										<div>
											<span class="primary_button" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_12_1">
												<span class="button_container">
													<span class="button_bg">
														<span class="button_top">
															<span class="button_bottom">   
																<a href="javascript: setCurrentId('WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_11'); categoryDisplayJS.AddItem2ShopCartAjax('<c:out value='${catEntryIDToUse}'/>',1)" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_11" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
															</span>
														</span>
													</span>
												</span>
											</span>
										</div>	
									</c:when>
									<c:otherwise>
										<div>
											<span class="primary_button" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_12_2">
												<span class="button_container">
													<span class="button_bg">
														<span class="button_top">
															<span class="button_bottom">   
																<a href="javascript:;" onclick="javascript: showPopup('<c:out value='${catalogEntryID}'/>', '<c:out value='${storeId}'/>','<c:out value='${langId}'/>', '<c:out value='${catalogId}'/>', event)" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_11" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
															</span>
														</span>
													</span>
												</span>
											</span>
										</div>
									</c:otherwise>
								</c:choose>
							</flow:ifEnabled>
							
							<flow:ifDisabled feature="AjaxAddToCart">
							<c:choose>
								<c:when test="${dragType == 'item' || dragType == 'package' || (singleSKU == true && dragType == 'product')}">
									<div>
										<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_12_2">
											<span class="button_container">
												<span class="button_bg">
													<span class="button_top">
														<span class="button_bottom">   
															<a href="#" onclick="javascript: categoryDisplayJS.AddItem2ShopCart(document.getElementById('OrderItemAddForm_${catEntryIDToUse}'),1);return false;" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_11" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
														</span>
													</span>
												</span>
											</span>
										</span>
									</div>
								</c:when>
								<c:otherwise>
									<div>
										<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_12_3">
											<span class="button_container">
												<span class="button_bg">
													<span class="button_top">
														<span class="button_bottom">   
															<a href="javascript:;" onclick="javascript: showPopup('<c:out value='${catalogEntryID}'/>', '<c:out value='${storeId}'/>','<c:out value='${langId}'/>', '<c:out value='${catalogId}'/>', event)" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_11" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
														</span>
													</span>
												</span>
											</span>
										</span>
									</div>
								</c:otherwise>
							</c:choose>
						</flow:ifDisabled>
						</flow:ifDisabled> 
						<c:if test="${includeRemoveFromWishList}">
							<flow:ifDisabled feature="AjaxMyAccountPage">
								<div class="deleteLink"> 
									<flow:ifEnabled feature="wishList">	
										<a class="bopis_link" href="<c:out value="${interestItemDeleteURL}"/>" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_links_13" waistate:controls="MiniShoppingCart"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}"/></a>
									</flow:ifEnabled>
									<flow:ifEnabled feature="SOAWishlist">	
										<a class="bopis_link" href="<c:out value="${wishListDeleteURL}"/>" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_links_13" waistate:controls="MiniShoppingCart"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}"/></a>
									</flow:ifEnabled>
								</div>
							</flow:ifDisabled>
							<flow:ifEnabled feature="AjaxMyAccountPage">
								<c:choose>
									<c:when test="${sharedWishList}">
										<div class="deleteLink">  
											<flow:ifEnabled feature="wishList">	
												<a class="bopis_link" href="<c:out value="${interestItemDeleteURL}"/>" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_14" waistate:controls="MiniShoppingCart"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}"/></a>
											</flow:ifEnabled>
											<flow:ifEnabled feature="SOAWishlist">	
												<a class="bopis_link" href="<c:out value="${wishListDeleteURL}"/>" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_14" waistate:controls="MiniShoppingCart"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}"/></a>
											</flow:ifEnabled>
										</div>
									</c:when>
									<c:otherwise>
										<div class="deleteLink">   
											<flow:ifEnabled feature="wishList">	
												<a class="bopis_link" href="javaScript:AccountWishListDisplay.deleteInterestItem({catEntryId:'<c:out value='${catalogEntryID}'/>',storeId:'<c:out value='${WCParam.storeId}'/>', catalogId:'<c:out value='${WCParam.catalogId}'/>', langId:'<c:out value='${langId}'/>'},'<c:out value='${WishListResultDisplay}'/>')" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_14"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}" /></a>
											</flow:ifEnabled>
											<flow:ifEnabled feature="SOAWishlist">	
												<a class="bopis_link" href="javaScript:MultipleWishLists.removeItem('<c:out value='${soaListItem.giftListItemID}'/>')" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_14"><fmt:message key="WISHLIST_REMOVE" bundle="${storeText}" /></a>
											</flow:ifEnabled>
										</div>
									</c:otherwise>
								</c:choose>
							</flow:ifEnabled>
						</c:if>
					</c:when>
					<c:otherwise>
						<fmt:message key="SKU_NOT_BUYABLE" bundle="${storeText}" />
					</c:otherwise>
					</c:choose>
				</td>
			
		<c:if test="${addProductDnD eq 'true'}">
			<script type="text/javaScript">
				dojo.addOnLoad(function() { 
					var src= new dojo.dnd.Source("<c:out value='${prefix}_${catEntryIDToUse}'/>");
					src.copyOnly=true;
					src.setItem('imgPath','<c:out value="${catalogEntry.objectPath}${catalogEntry.description.thumbNail}"/>');
					src.setItem('productDisplayPath','<c:out value='${catEntryDisplayUrl}'/>');
				});
			</script>
		</c:if>
	</c:when>
	<c:when test="${pageView == 'sidebar'}">
		<table id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_table_1">
			<tr>
				<td id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_td_1">
					<div id="<c:out value='baseContent_${prefix}_${catEntryIdentifier}'/>" class="itemcontainer"
						<c:if test="${showProductQuickView eq 'true'}">
							onmouseover="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" onmouseout="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
						</c:if>
						>
														
						<c:if test="${addProductDnD eq 'true'}">
							<div dojoType="dojo.dnd.Source" jsId="dndSource" id="<c:out value='${prefix}_${catEntryIDToUse}'/>" copyOnly="true" dndType="<c:out value='${dragType}'/>">
								<div class="dojoDndItem" dndType="<c:out value='${dragType}'/>" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_27">
						</c:if>
						<c:set property="attachmentUsage" value="IMAGE_SIZE_55" target="${catalogEntry}" />
						<c:set var="image55AttachmentDataBeans" value="${catalogEntry.attachmentsByUsage}" />
						<c:choose>
						 		<c:when test="${!empty image55AttachmentDataBeans[0]}">
									<c:set var="sidebarImagePath" value="${image55AttachmentDataBeans[0].objectPath}${image55AttachmentDataBeans[0].path}" />
						 		</c:when>
								<c:otherwise>
									<c:set var="sidebarImagePath" value="${jspStoreImgDir}images/NoImageIcon_sm.jpg" />
								</c:otherwise>
						</c:choose>
						<a ${ShowProductInNewWindow} class="itemhover" href="<c:out value="${catEntryDisplayUrl}" escapeXml="false"/>" id="img<c:out value="${catEntryIdentifier}"/>" class="itemhover"
							<c:if test="${showProductQuickView eq 'true'}">
								onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
								onkeydown="shiftTabHidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>',event);"
							</c:if>
							onmouseout="javascript:hideBackgroundImage(this);" onmouseover="javascript:showBackgroundImage(this);"
							>
							<c:if test="${addProductDnD eq 'true'}">
								<!--[if lte IE 6.5]><iframe class="productSidebarDnDIFrame" scrolling="no" frameborder="0" src="<c:out value="${jspStoreImgDir}" />images/empty.gif"></iframe><![endif]-->
							</c:if>
							<img src="<c:out value='${sidebarImagePath}'/>" 
									alt="<c:out value='${fn:replace(catalogEntry.description.name, search, replaceStr)} ${displayPriceString}' escapeXml='false'/>" 
									border="0" width="55" height="55"/>
						</a>
						<c:if test="${addProductDnD eq 'true'}">
								</div>
							</div>
						</c:if>
						<c:if test="${showProductQuickView eq 'true'}">
							<c:choose>
								<c:when test="${shoppingCartPage}">							
									<div id="<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>" class="rightside_quickinfo_button">
												<span class="secondary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_28">
													<span class="button_container">
														<span class="button_bg">
															<span class="button_top">
																<span class="button_bottom">   
																	<a  id="<c:out value='QuickInfoButton_${prefix}_${catEntryIdentifier}'/>" href="#"
																		alt="<fmt:message key="QUICKINFO" bundle="${storeText}"/>"
																		onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
																		onclick="javaScript:var actionListForSidebar = new popupActionProperties(); actionListForSidebar.showProductCompare=false; actionListForSidebar.showWishList=<c:out value='${buyable}'/>; actionListForSidebar.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListForSidebar); return false;" 
																		onkeypress="javaScript:var actionListForSidebar = new popupActionProperties(); actionListForSidebar.showProductCompare=false; actionListForSidebar.showWishList=<c:out value='${buyable}'/>; actionListForSidebar.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListForSidebar);" onblur="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"  role="wairole:button" waistate:haspopup="true"><fmt:message key="QUICKINFO" bundle="${storeText}"/></a>
																</span>
															</span>
														</span>	
													</span>
												</span>	
									</div>
								</c:when>
								<c:otherwise>
									<div id="<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>" class="rightside_quickinfo_button">
												<span class="secondary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_30">
													<span class="button_container">
														<span class="button_bg">
															<span class="button_top">
																<span class="button_bottom">   
																	<a  id="<c:out value='QuickInfoButton_${prefix}_${catEntryIdentifier}'/>" href="#"
																		alt="<fmt:message key="QUICKINFO" bundle="${storeText}"/>"
																		onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
																		onclick="javaScript:var actionListForSidebar = new popupActionProperties(); actionListForSidebar.showWishList=<c:out value='${buyable}'/>; actionListForSidebar.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListForSidebar); return false;"  
																		onkeypress="javaScript:var actionListForSidebar = new popupActionProperties(); actionListForSidebar.showWishList=<c:out value='${buyable}'/>; actionListForSidebar.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListForSidebar);" onblur="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" role="wairole:button" waistate:haspopup="true"><fmt:message key="QUICKINFO" bundle="${storeText}"/></a>
																</span>
															</span>
														</span>	
													</span>
												</span>
									</div>
								</c:otherwise>
							</c:choose>								
						</c:if>
					</div>
				</td>
				<td id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_td_2">
					<div class="text" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_32">
						<p class="brand"><c:out value="${catalogEntry.description.name}" escapeXml="false"/></p>
						<p class="price">
							<%@ include file="CatalogEntryPriceDisplay.jspf" %>
						</p>
						<p>
							<c:choose>
							<c:when test="${buyable}" >								
								<flow:ifEnabled feature="AjaxAddToCart"> 
									<c:choose>
										<c:when test="${dragType == 'item' || dragType == 'package' || (singleSKU == true && dragType == 'product')}">
											<a href="javascript: setCurrentId('<c:out value='WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_links_15'/>'); categoryDisplayJS.AddItem2ShopCartAjax('<c:out value='${catEntryIDToUse}'/>',1)" class="wishlist_detailed_link" id="<c:out value='WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_links_15'/>" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>						
										</c:when>
										<c:otherwise>
											<a href="javascript:;" onclick="javascript: showPopup('<c:out value='${catEntryIDToUse}'/>', '<c:out value='${storeId}'/>','<c:out value='${langId}'/>', '<c:out value='${catalogId}'/>', event)" class="wishlist_detailed_link" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_16" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>						
										</c:otherwise>
									</c:choose>
								</flow:ifEnabled>
								
								<flow:ifDisabled feature="AjaxAddToCart">
									<c:choose>
										<c:when test="${dragType == 'item' || dragType == 'package' || (singleSKU == true && dragType == 'product')}">
											<a href="#" onclick="javascript: categoryDisplayJS.AddItem2ShopCart(document.getElementById('<c:out value='OrderItemAddForm_${catEntryIDToUse}'/>'),1);return false;" class="wishlist_detailed_link" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_17" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
										</c:when>
										<c:otherwise>
											<a href="javascript:;" onclick="javascript: showPopup('<c:out value='${catEntryIDToUse}'/>', '<c:out value='${storeId}'/>','<c:out value='${langId}'/>', '<c:out value='${catalogId}'/>', event)" class="wishlist_detailed_link" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_18" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
										</c:otherwise>
									</c:choose>
								</flow:ifDisabled>
							</c:when>
							<c:otherwise>
								<fmt:message key="SKU_NOT_BUYABLE" bundle="${storeText}" />
							</c:otherwise>
							</c:choose>
						</p>
					</div>
				</td>
			</tr>
		</table>
					
					<br clear="all" />
					<br />
		<c:if test="${addProductDnD eq 'true'}">
			<script type="text/javaScript">
				dojo.addOnLoad(function() {
				var src= new dojo.dnd.Source("<c:out value='${prefix}_${catEntryIDToUse}'/>");
				src.copyOnly=true;
				src.setItem('imgPath','<c:out value="${catalogEntry.objectPath}${catalogEntry.description.thumbNail}"/>');
				src.setItem('productDisplayPath','<c:out value='${catEntryDisplayUrl}'/>');
				});
				
			</script>
		</c:if>
	</c:when>
		
	<c:when test="${pageView == 'imageForCompare'}">
		<td class="product_image" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_td_3">
			<div id="<c:out value='baseContent_${prefix}_${catEntryIdentifier}'/>" 
				<c:if test="${showProductQuickView eq 'true'}">
					onmouseover="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');" onmouseout="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
				</c:if>
				>
				<c:if test="${addProductDnD eq 'true'}">
					<div dojoType="dojo.dnd.Source" jsId="dndSource" id="<c:out value='${prefix}_${catEntryIDToUse}'/>" copyOnly="true" dndType="<c:out value='${dragType}'/>">
						<div class="dojoDndItem" dndType="<c:out value='${dragType}'/>" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_33">
				</c:if>
							<c:choose>
								<c:when test="${!empty catalogEntry.description.thumbNail}">
									<a ${ShowProductInNewWindow} href="<c:out value="${catEntryDisplayUrl}" escapeXml="false"/>" id="img<c:out value="${catEntryIdentifier}"/>" class="comparehover"
									<c:if test="${showProductQuickView eq 'true'}">
										onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
										onkeydown="shiftTabHidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>',event);"
									</c:if>
									onmouseout="javascript:hideBackgroundImage(this);" onmouseover="javascript:showBackgroundImage(this);"
									>	<c:if test="${addProductDnD eq 'true'}">
											<!--[if lte IE 6.5]><iframe class="productDnDIFrame" scrolling="no" frameborder="0" src="<c:out value="${jspStoreImgDir}" />images/empty.gif"></iframe><![endif]-->
										</c:if>								
										<img src="<c:out value='${catalogEntry.objectPath}${catalogEntry.description.thumbNail}'/>" alt="<c:out value='${catalogEntry.description.shortDescription}' />" border="0" width="70" height="70"/>
									</a>
								</c:when>
								<c:otherwise>
									<a ${ShowProductInNewWindow} href="<c:out value="${catEntryDisplayUrl}" escapeXml="false"/>" id="img<c:out value="${catEntryIdentifier}"/>" class="comparehover"
									<c:if test="${showProductQuickView eq 'true'}">
										onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
										onkeydown="shiftTabHidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>',event);"
									</c:if>
									onmouseout="javascript:hideBackgroundImage(this);" onmouseover="javascript:showBackgroundImage(this);"
									>
									<c:if test="${addProductDnD eq 'true'}">
										<!--[if lte IE 6.5]><iframe class="productDnDIFrame" scrolling="no" frameborder="0" src="<c:out value="${jspStoreImgDir}" />images/empty.gif"></iframe><![endif]-->
									</c:if>	
									<img src="<c:out value='${jspStoreImgDir}' />images/NoImageIcon_sm.jpg" alt="<fmt:message key='No_Image' bundle='${storeText}'/>" border="0" width="70" height="70"/>
									</a>
								</c:otherwise>
							</c:choose>
				<c:if test="${addProductDnD eq 'true'}">
						</div>
					</div>
				</c:if>
				<c:if test="${showProductQuickView eq 'true'}">
					<div id="<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>" class="compare_quickinfo_button">
						<span class="secondary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_div_34">
							<span class="button_container">
								<span class="button_bg">
									<span class="button_top">
										<span class="button_bottom">   
											<a  id="<c:out value='QuickInfoButton_${prefix}_${catEntryIdentifier}'/>" href="#"
												onfocus="showPopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"
												onclick="javaScript:var actionListCompare = new popupActionProperties(); actionListCompare.showProductCompare=false; actionListCompare.showWishList=<c:out value='${buyable}'/>; actionListCompare.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListCompare); return false;"
												onkeypress="javaScript:var actionListCompare = new popupActionProperties(); actionListCompare.showProductCompare=false; actionListCompare.showWishList=<c:out value='${buyable}'/>; actionListCompare.showAddToCart=<c:out value='${buyable}'/>; showPopup('<c:out value='${catEntryIDToUse}'/>','<c:out value='${WCParam.storeId}'/>','<c:out value='${WCParam.langId}'/>','<c:out value='${WCParam.catalogId}'/>',event,null,'<c:out value='popupButton_${prefix}_${catEntryIdentifier}'/>',actionListCompare);" onblur="hidePopupButton('<c:out value='${prefix}_${catEntryIdentifier}'/>');"  role="wairole:button" waistate:haspopup="true"><fmt:message key="QUICKINFO" bundle="${storeText}"/></a>
										</span>
									</span>
								</span>	
							</span>
						</span>
					</div>
				</c:if>
			</div>
			<br />
			<br />
			<c:choose>
			<c:when test="${buyable}" >
				<flow:ifEnabled feature="AjaxAddToCart"> 
					<c:choose>
						<c:when test="${dragType == 'item' || dragType == 'package' || (singleSKU == true && dragType == 'product')}">
							<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_12_36">
								<span class="button_container">
									<span class="button_bg">
										<span class="button_top">
											<span class="button_bottom">   
												<a href="javascript: setCurrentId('WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_19'); categoryDisplayJS.AddItem2ShopCartAjax('<c:out value='${catEntryIDToUse}'/>',1)" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_19" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
											</span>
										</span>
									</span>
								</span>
							</span>
						</c:when>
						<c:otherwise>
							<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_12_36">
								<span class="button_container">
									<span class="button_bg">
										<span class="button_top">
											<span class="button_bottom">   
												<a href="javascript:;" onclick="javascript:var actionListCompare = new popupActionProperties(); actionListCompare.showProductCompare=false; showPopup('<c:out value='${catEntryIDToUse}'/>', '<c:out value='${storeId}'/>','<c:out value='${langId}'/>', '<c:out value='${catalogId}'/>', event,null,'',actionListCompare)" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_20" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
											</span>
										</span>
									</span>
								</span>
							</span>
						</c:otherwise>
					</c:choose>
				</flow:ifEnabled>
				
				<flow:ifDisabled feature="AjaxAddToCart">
					<c:choose>
						<c:when test="${dragType == 'item' || dragType == 'package' || (singleSKU == true && dragType == 'product')}">
							<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_12_40">
								<span class="button_container">
									<span class="button_bg">
										<span class="button_top">
									 		<span class="button_bottom">   
												<a href="#" onclick="javascript: categoryDisplayJS.AddItem2ShopCart(document.getElementById('OrderItemAddForm_<c:out value='${catEntryIDToUse}'/>'),1);return false;" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_21" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
											</span>
										</span>
									</span>
								</span>
							</span>
						</c:when>
						<c:otherwise>
							<span class="primary_button button_fit" id="WC_CatalogEntryDBThumbnailDisplayJSPF_${catEntryIdentifier}_div_12_42">
								<span class="button_container">
									<span class="button_bg">
										<span class="button_top">
									 		<span class="button_bottom">   
												<a href="javascript:;" onclick="javascript:var actionListCompare = new popupActionProperties(); actionListCompare.showProductCompare=false; showPopup('<c:out value='${catEntryIDToUse}'/>', '<c:out value='${storeId}'/>','<c:out value='${langId}'/>', '<c:out value='${catalogId}'/>', event,null,'',actionListCompare)" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_22" waistate:controls="MiniShoppingCart"><fmt:message key="ADDTOCART" bundle="${storeText}"/></a>
											</span>
										</span>
									</span>
								</span>
							</span>
						</c:otherwise>
					</c:choose>
				</flow:ifDisabled>
				
			</c:when>
			<c:otherwise>
				<fmt:message key="SKU_NOT_BUYABLE" bundle="${storeText}" />
			</c:otherwise>
			</c:choose>
		</td>
	</c:when>
		
	<c:otherwise>
					<c:set var="CatalogEntryDBThumbnailDisplayExtExcuted" value="false" />
					<%@ include file="CatalogEntryDBThumbnailDisplayExt.jspf"%>
					<c:if test="${CatalogEntryDBThumbnailDisplayExtExcuted==false}">
						<c:choose>
						<c:when test="${catEntry.dynamicKit}">
									<img src="<c:out value='${jspStoreImgDir}' />images/NoImageIcon_sm.jpg" alt="<c:out value='${fn:replace(catalogEntry.description.name, search, replaceStr)}' />" width="70" height="70" border="0"/>
							</c:when>		
							<c:when test="${!empty catalogEntry.description.thumbNail}">
								<a ${ShowProductInNewWindow} href="<c:out value="${catEntryDisplayUrl}" escapeXml="false"/>" id="img<c:out value="${catEntryIdentifier}"/>">
									<img src="<c:out value='${catalogEntry.objectPath}${catalogEntry.description.thumbNail}'/>" alt="<c:out value='${fn:replace(catalogEntry.description.name, search, replaceStr)}' />" width="70" height="70" border="0"/>
								</a>
							</c:when>
							<c:otherwise>
								<a ${ShowProductInNewWindow} href="<c:out value="${catEntryDisplayUrl}" escapeXml="false"/>" id="img<c:out value="${catEntryIdentifier}"/>">
									<img src="<c:out value='${jspStoreImgDir}' />images/NoImageIcon_sm.jpg" alt="<c:out value='${fn:replace(catalogEntry.description.name, search, replaceStr)}' />" width="70" height="70" border="0"/>
								</a>
							</c:otherwise>
						</c:choose>
					</c:if>
	</c:otherwise>
</c:choose>

<c:set property="attachmentUsage" value="IMAGE_SIZE_40" target="${catalogEntry}" />
<c:set var="image40AttachmentDataBeans" value="${catalogEntry.attachmentsByUsage}" />
<c:choose>
	<c:when test="${!empty image40AttachmentDataBeans[0]}">
		<c:set var="productCompareImagePath" value="${image40AttachmentDataBeans[0].objectPath}${image40AttachmentDataBeans[0].path}" />
	</c:when>
	<c:when test="${!empty catalogEntry.description.thumbNail}">
		<c:set var="productCompareImagePath" value="${catalogEntry.objectPath}${catalogEntry.description.thumbNail}" />
	</c:when>
	<c:otherwise>
		<c:set var="productCompareImagePath" value="${jspStoreImgDir}images/NoImageIcon_sm45.jpg" />
	</c:otherwise>
</c:choose>
<c:set var="compareImageDescription" value="${fn:replace(catalogEntry.description.shortDescription, search, replaceCmprStr)}"/>
<c:set var="compareImageDescription" value="${fn:replace(compareImageDescription, search01, replaceCmprStr)}"/>
<input type="hidden" id="compareImgPath_<c:out value='${catEntryIDToUse}'/>" value="<c:out value='${productCompareImagePath}'/>"/>
<input type="hidden" id="compareProductDetailsPath_<c:out value='${catEntryIDToUse}'/>" value="<c:out value='${catEntryDisplayUrl}'/>"/>
<input type="hidden" id="compareImgDescription_<c:out value='${catEntryIDToUse}'/>" value="<c:out value='${compareImageDescription}'/>"/>
<c:if test="${singleSKU}" >
	<input type="hidden" id="compareProductParentId_<c:out value='${catEntryIDToUse}'/>" value="<c:out value='${catEntry.catalogEntryID}'/>"/>
</c:if>
<!-- END CatalogEntryDBThumbnailDisplay.jspf-->
