<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2008, 2009 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<%--
  *****
  * This JSP segment displays the adress section of the addressbook forms
  * for the following countries/regions:
  *  - Egypt
  * The display order is as follows (* means mandatory):
  *  - firstname
  *  - lastname*
  *  - address*
  *  - city*
  *  - state/province*
  *  - zip/postal code
  *  - country/region*
  *  - phone1
  *  - email*
  *****
  *****
--%>
<!-- BEGIN AddressBookAddressEntryForm_AR.jspf-->

<%@ include file="AddressHelperCountrySelection.jspf" %>
<%-- First name --%>	
<div class="column" id="WC_AddressBookAddressEntryForm_ARf_div_1">
	<div id="WC_AddressBookAddressEntryForm_ARf_div_2">
	<label for="firstName${suffix}" class="nodisplay">
	<fmt:message key="AB_ADDRESS_LABEL_TEXT" bundle="${storeText}">
	<fmt:param><fmt:message key="FIRST_NAME" bundle="${storeText}"/></fmt:param>
	<fmt:param> </fmt:param></fmt:message>
	</label>
	<fmt:message key="FIRST_NAME" bundle="${storeText}"/></div>
	<input type="text" maxlength="40" size="35" id="firstName${suffix}" name="firstName" value="<c:out value='${param.firstName}'/>"/>
</div>

<%-- Last name --%>
<div class="column" id="WC_AddressBookAddressEntryForm_ARf_div_3">
	 <div id="WC_AddressBookAddressEntryForm_ARf_div_4">
		<label for="lastName${suffix}" class="nodisplay">
		<fmt:message key="AB_ADDRESS_LABEL_TEXT" bundle="${storeText}">
		<fmt:param><fmt:message key="LAST_NAME" bundle="${storeText}"/></fmt:param>
		<fmt:param><fmt:message key="Checkout_ACCE_required" bundle="${storeText}"/></fmt:param></fmt:message>
		</label>
		<span class="required-field"  id="WC_AddressBookAddressEntryForm_ARf_div_5"> *</span> 
		<fmt:message key="LAST_NAME" bundle="${storeText}"/></div>
		 <input type="text" maxlength="40" size="35" id="lastName${suffix}" name="lastName" value="<c:out value='${param.lastName}'/>"/>
</div>
<br clear="all" />

<%-- address --%>
<div class="column" id="WC_AddressBookAddressEntryForm_ARf_div_6">
	<div id="WC_AddressBookAddressEntryForm_ARf_div_7">
	<label for="address1${suffix}" class="nodisplay">
	<fmt:message key="AB_ADDRESS_LABEL_TEXT" bundle="${storeText}">
	<fmt:param><fmt:message key="STREET_ADDRESS" bundle="${storeText}"/></fmt:param>
	<fmt:param><fmt:message key="Checkout_ACCE_required" bundle="${storeText}"/></fmt:param></fmt:message>
	</label>
	<span class="required-field"  id="WC_AddressBookAddressEntryForm_ARf_div_8"> *</span>
	<fmt:message key="STREET_ADDRESS" bundle="${storeText}"/></div>
	<input type="text" maxlength="99" size="35" id="address1${suffix}" name="address1" value="<c:out value ='${param.address1}'/>"/>
	<input type="text" maxlength="49" size="35" id="address2${suffix}" name="address2" value="<c:out value ='${param.address2}'/>"/>
	<label for="address2${suffix}" class="nodisplay"><fmt:message key="STREET_ADDRESS" bundle="${storeText}"/></label>
</div>

<%-- city --%>
<div class="column" id="WC_AddressBookAddressEntryForm_ARf_div_12">
	 <div id="WC_AddressBookAddressEntryForm_ARf_div_13">
	 <label for="city${suffix}" class="nodisplay">
	 <fmt:message key="AB_ADDRESS_LABEL_TEXT" bundle="${storeText}">
	 <fmt:param><fmt:message key="CITY2" bundle="${storeText}"/></fmt:param>
	 <fmt:param><fmt:message key="Checkout_ACCE_required" bundle="${storeText}"/></fmt:param></fmt:message>
	 </label>
	 <span class="required-field"  id="WC_AddressBookAddressEntryForm_ARf_div_14"> *</span>
	 <fmt:message key="CITY2" bundle="${storeText}"/></div>
	 <input type="text" maxlength="40" size="35" id="city${suffix}" name="city" value="<c:out value ='${param.city}'/>"/>
 </div>
<br clear="all" />

<%-- state/province --%>
<div class="column" id="WC_AddressBookAddressEntryForm_ARf_div_15">
	<div id="WC_AddressBookAddressEntryForm_ARf_div_16">
		<label for="state${suffix}" class="nodisplay">
		<fmt:message key="AB_ADDRESS_LABEL_TEXT" bundle="${storeText}">
		<fmt:param><fmt:message key="STATE_PROVINCE2" bundle="${storeText}"/></fmt:param>
		<fmt:param><fmt:message key="Checkout_ACCE_required" bundle="${storeText}"/></fmt:param></fmt:message>
		</label>
		<span class="required-field"  id="WC_AddressBookAddressEntryForm_ARf_div_11"> *</span>
		<fmt:message key="STATE_PROVINCE2" bundle="${storeText}"/></div>
		<jsp:setProperty name="countryBean" property="countryCode" value="${countryreg}" />
		<c:choose>
				<c:when test="${!empty countryBean.countryCodeStates}">
				<div id="stateDiv${suffix}">
					<select id="state${suffix}" name="state" class="drop_down_country">
					<c:forEach var="state" items="${countryBean.countryCodeStates}">
					<option value="<c:out value='${state.code}'/>"
						<c:if test="${state.code eq param.state || state.displayName eq param.state}">
							selected="selected"
						</c:if>
						>
						<c:out value="${state.displayName}"/>
					</option>
					</c:forEach>
					</select>
				</div>
			</c:when>
			<c:otherwise>
			<div id="stateDiv${suffix}">
				<input type="text" maxlength="40" size="35" id="state${suffix}" name="state" value="<c:out value='${param.state}'/>"/>
			</div>
			</c:otherwise>
			</c:choose>
</div>

<%-- zipcode --%>
<div class="column" id="WC_AddressBookAddressEntryForm_ARf_div_9">
	<div id="WC_AddressBookAddressEntryForm_ARf_div_10">
		<label for="zipCode${suffix}" class="nodisplay">
		<fmt:message key="AB_ADDRESS_LABEL_TEXT" bundle="${storeText}">
		<fmt:param><fmt:message key="ZIP_CODE" bundle="${storeText}"/></fmt:param>
		<fmt:param> </fmt:param></fmt:message>
		</label>
		<fmt:message key="ZIP_CODE" bundle="${storeText}"/></div>
		<input type="text" maxlength="30" size="35" id="zipCode${suffix}" name="zipCode" value="<c:out value='${param.zipCode}'/>"/>
</div>
<br clear="all" />

<%-- country/region --%>									
<c:set var="countryreg" value="${param.countryReg}"/>
<div class="column" id="WC_AddressBookAddressEntryForm_ARf_div_17">
	<div id="WC_AddressBookAddressEntryForm_ARf_div_18">
		<label for="country${suffix}" class="nodisplay">
		<fmt:message key="AB_ADDRESS_LABEL_TEXT" bundle="${storeText}">
		<fmt:param><fmt:message key="COUNTRY2" bundle="${storeText}"/></fmt:param>
		<fmt:param><fmt:message key="Checkout_ACCE_required" bundle="${storeText}"/></fmt:param></fmt:message>
		</label>
		<span class="required-field"  id="WC_AddressBookAddressEntryForm_ARf_div_19"> *</span>
		<fmt:message key="COUNTRY2" bundle="${storeText}"/></div>

		<select class="drop_down_country" id="country${suffix}" name="country" onchange="javascript:AddressHelper.loadStatesUI('<c:out value='AddressForm${suffix}'/>','','<c:out value='stateDiv${suffix}'/>','<c:out value='state${suffix}'/>')"  >
			<c:forEach var="country" items="${countryBean.countries}">
				<option value="${country.code}"
					<c:if test="${country.code eq countryreg || country.displayName eq countryreg}">
					selected="selected"
					</c:if>
					><c:out value="${country.displayName}"/>
				</option>
			</c:forEach>
		</select>
</div>
<br clear="all" />

<%-- phone --%>
<div class="column" id="WC_AddressBookAddressEntryForm_ARf_div_20">
	<div id="WC_AddressBookAddressEntryForm_ARf_div_21">
	<label for="phone1${suffix}" class="nodisplay">
	<fmt:message key="AB_ADDRESS_LABEL_TEXT" bundle="${storeText}">
	<fmt:param><fmt:message key="PHONE_NUMBER2" bundle="${storeText}"/></fmt:param>
	<fmt:param> </fmt:param></fmt:message>
	</label>
	<fmt:message key="PHONE_NUMBER2" bundle="${storeText}"/></div>
	<input type="text" maxlength="32" size="35" id="phone1${suffix}" name="phone1" value="<c:out value='${param.phone}'/>"/>
</div>

<%-- email --%>
<div class="column" id="WC_AddressBookAddressEntryForm_ARf_div_22">
	<div id="WC_AddressBookAddressEntryForm_ARf_div_23">
	<label for="email1${suffix}" class="nodisplay">
	<fmt:message key="AB_ADDRESS_LABEL_TEXT" bundle="${storeText}">
	<fmt:param><fmt:message key="EMAIL" bundle="${storeText}"/></fmt:param>
	<fmt:param><fmt:message key="Checkout_ACCE_required" bundle="${storeText}"/></fmt:param></fmt:message>
	</label>
	<span class="required-field"  id="WC_AddressBookAddressEntryForm_ARf_div_24"> *</span>
	<fmt:message key="EMAIL" bundle="${storeText}"/></div>
	<input type="text" maxlength="32" size="35" id="email1${suffix}" name="email1" value="<c:out value='${param.email1}'/>"/>
</div>
<!-- END AddressBookAddressEntryForm_AR.jspf-->
